<div class="pothole-list">
  <% @potholes.each do |pothole| %>
    <div class="pothole-list__item">
      <%= pothole.location %>
      <form method="post" action="/upvote/<%= pothole.id %>">
        <% if current_user && !upvoted?(session[:user_id], pothole) %>
          <button class="pothole-list__item__Flag-button--<%= pothole.id %>">Flag</button>
        <% end %>
      </form>

      <form method="post" action="/downvote/<%= pothole.id %>">
        <% if current_user && !downvoted?(session[:user_id], pothole) %>
          <button class="pothole-list__item__Unflag-button--<%= pothole.id %>">Unflag</button>
        <% end %>
      </form>

      <div class="votes">Votes : <%= total_score(pothole) %></div>
    </div>
  <% end %>
</div>
