<div class="pothole-list">
  <% potholes.each do |pothole| %>
    <div class="pothole-list__item">
      <div class="pothole-list__content--location">
          <%= "#{pothole.location}, #{pothole.town.name}, #{pothole.lat}, #{pothole.long}" %>
        </div>
        <div class="pothole-list__content">
        <div class="votes">Concerned citizens : <%= total_flags(pothole) %></div>
        <% if current_user && !user_flagged?(session[:user_id], pothole) %>
          <form method="post" class=".pothole-list__content__form" action="/flag/<%= pothole.id %>">
              <button class="pothole-list__item__Flag-button--<%= pothole.id %>">Flag</button>
          </form>
        <% elsif current_user %>
          <form class=".pothole-list__content__form" method="post" action="/unflag/<%= pothole.id %>">
            <button class="pothole-list__item__Unflag-button--<%= pothole.id %>">Unflag</button>
          </form>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

