<!DOCTYPE html>
<html>
  <head>
    <title>Rate My Pothole</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>
  <body>
    <div id='container'>
      <%= erb :header, layout: false %>

      <% if @current_user %>
        <div>Welcome, <%= User.first(id: session[:user_id]).username %>!</div>
      <% end %>

      <% if flash[:errors]  %>
        <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
        </ul>
      <% end %>

      <%= flash[:notice] %>

      <%= yield %>
      <div class="push"></div>
    </div>
    <div class="footer">
      <%= erb :footer, layout: false %>
    </div>
  </body>
</html>
