 <div class="town__map">
  <div class="town-map" id="town-map"></div>
</div>
<h2 class='town__header'><%= params[:town] %></h2>
<%= erb :'potholes/_pothole_list', locals: { :potholes => @potholes } %>

<script type="text/javascript">
  $(document).ready( function() {
    var town_gmaps = new Gmaps();
    town_gmaps.initialize("town-map", 12, <%= @lat %>, <%= @lng %> );
    <% mark_local_potholes.each do |pothole| %>
        town_gmaps.markMapCoord(<%=pothole[:lat]%>,<%=pothole[:lng]%>);
    <% end %>
  });
</script>
